@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --heading-text:#8A4341;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


::-webkit-scrollbar{
    width:1rem;
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color:var(--heading-text);
}
body {
  /* color: rgb(var(--foreground-rgb)); */
  background:black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.contactUs{

  color:var(--heading-text) !important;
}
nav ul li:last-child a{
  color:var(--heading-text) !important;
}
nav ul li:last-child.active{
border-bottom:2px solid white!important;
}
.active{
  border-bottom:2px solid brown;
}
.active::after{
    z-index: 1;
     /* background-color:rgba(21,56,76,0.7); */
    position: absolute;
    left:0;
    content: " ";
    width:100%;
    height: 100%;
    transition: width 0.8s ease-in-out;
    will-change: transition;
    animation: link 1s ease-in-out forwards 1;
}
.error{
    color:red;
    font-size:1.2rem;
}